Thumbs.db
.DS_Store
.gradle
build/
target/
out/
.idea
*.iml
*.ipr
*.iws
.project
.settings
.classpath
.factorypath
src/main/resources/db/certs/
src/main/resources/db/ca
docker/data/*
/src/main/resources/db/node1/
/src/main/resources/db/node2/
/src/main/resources/db/node3/
/src/main/resources/db/cockroach-data/logs